<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>{{appName}}</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <hgroup>
      <h1>{{appName}}</h1>
      <h2>a helpful list</h2>
    </hgroup>
  </header>

  <section ng-controller="TaskListController">
    <form id="task-form" ng-submit="createTask()">
      <input ng-model="newTask" type="text" placeholder="@project do something" />
    </form>

    <ul class="project-list" ng-repeat="group in projectGroups">
      <li ng-repeat="project in group">
        <div class="project-name">{{project.name}}</div>
        <ul class="task-list">
          <li ng-show="project.next != null">
            <input type="checkbox" ng-click="markDone(project, project.next)"/><span class="next">NEXT</span>{{project.next.name}}<div class="actions"><a ng-click="deleteTask(project, project.next)" class="danger">delete</a></div>
          </li>
          <li ng-repeat="task in project.tasks"><input type="checkbox" ng-click="markDone(project, task)"/>{{task.name}}<div class="actions"><a ng-click="deleteTask(project, task)" class="danger">delete</a> <a ng-click="markNext(project, task)">mark as next</a></div>
          </li>
      </li>
    </ul>
  </section>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>