body {
  background: #efefef;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 21px;
}
header {
  background: #a6cf72;
  padding-top: 47.52px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: normal;
}
hgroup {
  width: 600px;
  margin: 0 auto;
}
h1 {
  font-size: 72px;
}
h2 {
  text-align: right;
  margin-top: -27px;
}
a {
  color: #60b9e8;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  padding: 0 4px;
  text-transform: uppercase;
}
a.danger {
  color: #fc4349;
}
#task-form {
  background: #60b9e8;
  text-align: center;
  padding: 16px;
  border-top: 1px solid #38a7e2;
  border-bottom: 1px solid #38a7e2;
}
#task-form input {
  font-size: 48px;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  width: 600px;
  border: 1px solid #38a7e2;
  border-radius: 6px;
  padding: 8px;
}
.project-list .project-name {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  padding: 0 0 8px 0;
}
.project-list > li {
  background: #fff;
  width: 600px;
  margin: 16px auto;
  padding: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
}
.project-list input[type="checkbox"] {
  margin: 0 6px 0 0;
}
.task-list .actions {
  float: right;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.task-list > li:hover .actions {
  opacity: 1;
}
.next {
  font-size: 14px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  color: #a6cf72;
  padding: 0 4px 0 0;
}
